.wrapper {
  border-radius: 10px;
  border: 2px dashed #ccc;
  padding: 60px;
  margin: 30px;
}

.title {
  position: relative;
  padding: 0 65px ;
}

.title::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 0;
  background-image: url('../../../assets/images/sea-tours.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.toursWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}

.tourCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #708394;
  padding: 30px;
  width: 430px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleTour {
  color: #0e365c;
}

.titleCountry {
  color: #1f7177;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  background-color: #f7a71c;
  padding: 15px 20px;
  border-radius: 30px;
  text-align: center;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 0 transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link:hover {
  background-color: #1f7177;
  color: #fff;
  letter-spacing: 3px;
}

.imgWrap {
  max-width: 95%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  letter-spacing: 2px;
}

.price {
  font-weight: 700;
}